@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=IM+Fell+English:ital@0;1&family=Mountains+of+Christmas:wght@400;700&family=Mozilla+Headline:wght@200..700&family=Oxygen+Mono&family=Princess+Sofia&display=swap');
:root{
    --DarkNeutral: #0a0e0f;
    --LightNeutral: #ffeff4;
    /*---------------- FONTS ----------------*/
    --ExtraLargeFont:2.5rem;
    --LargeFont: 2.2rem;
    --MediumFont:1.8rem;
    --SmallFont:1.5rem;
    --ExtraSmallFont:1.2rem;

    --IMFellEnglish: "IM Fell English", serif;
    --Bonbon: "Bonbon", cursive;
    --MountainsOfChristmas: "Mountains of Christmas", serif;
    --PrincessSofia: "Princess Sofia", cursive;
    --Mozilla-headline:"Mozilla Headline", sans-serif;
    --Oxygen-Mono: "Oxygen Mono", monospace;

    --Border: solid 0.1rem var(--DarkNeutral);
    --LightBorder: solid 0.1rem var(--LightNeutral);

}
*{
    padding: 0;
    margin: 0;
    list-style-position: inside;
    font-family: var(--Oxygen-Mono);
    font-weight: 100;
}

.gingham{
    background-image: linear-gradient(0deg,
      rgba(181, 218, 232, 0.6) 0% 12.5%, rgba(255, 239, 244, 0.6) 12.5% 37.5%, rgba(181, 218, 232, 0.6) 37.5% 62.5%, rgba(255, 239, 244, 0.6) 62.5% 87.5%, rgba(181, 218, 232, 0.6) 87.5% 100%),
      linear-gradient(90deg,
        rgba(181, 218, 232, 0.6) 0% 12.5%, rgba(255, 239, 244, 0.6) 12.5% 37.5%, rgba(181, 218, 232, 0.6) 37.5% 62.5%, rgba(255, 239, 244, 0.6) 62.5% 87.5%, rgba(181, 218, 232, 0.6) 87.5% 100%
        ); 
    background-size: 80px 80px,80px 80px,80px 80px,80px 80px
}


/* -------------------*/
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--LightNeutral);
    font-weight: 100;
    gap: 0.5rem;
}

/* --------------- UTILS --------------- */

.dark body{
    background-color: var(--DarkNeutral);
    color: var(--LightNeutral);
}

.wrapper{
    display: grid;
    margin: 0 auto;
    margin-top: 3vh;
    gap: 0.5rem;
    padding: .5rem;
    width: 60%;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    border: var(--Border);
    background-color: var(--LightNeutral);
    border-radius: 2.5rem 2.5rem 0 0;
}
.dark .wrapper{
    border: var(--LightBorder);
    background-color: var(--DarkNeutral);
}

.wrapper header,
.wrapper aside,
.wrapper main,
.wrapper footer{
    border: var(--Border);
    height: fit-content;
    width: auto;
}
.dark .wrapper header,
.dark .wrapper aside,
.dark .wrapper main,
.dark .wrapper footer{
    border: var(--LightBorder);
}

/* --------------- HEADER --------------- */
.wrapper header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;  
    border-radius: 2rem 2rem 0 0;
    height: 15vh;
}

.wrapper header .title{
    font-family: var(--MountainsOfChristmas);
    text-decoration: none;
    font-size: 3rem;
}

/* --------------- ASIDE --------------- */
.wrapper aside {
    grid-area: aside;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
}


.asideHeader{
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    font-family: var(--MountainsOfChristmas);
    font-size: 1.5rem;
}
.asideBody{
    padding: 0.5rem;
}

.navHeader{
    color: palevioletred;
    border: 0.1rem palevioletred solid;
    background: linear-gradient(180deg,
    var(--LightNeutral) 0%,
    rgba(216, 112, 147, 0.50) 100%);
}

.navContainer .navLinks,
.navContainer a{
    color: palevioletred;
}
.tagsHeader{
    color: yellowgreen;
    border: 0.1rem yellowgreen solid;
    background: linear-gradient(180deg,
    var(--LightNeutral) 0%, 
    rgba(153, 205, 50, 0.50) 100%);
}   
.tagsContainer .tag,
.tagsContainer #tag{
    color: yellowgreen;
}

.socialsHeader{
    color: #87ceeb;
    border: 0.1rem skyblue solid;
    background: linear-gradient(180deg,
    var(--LightNeutral) 0%, 
    rgba(135, 207, 235, 0.5) 100%);
}

.socialsContainer .socialLink,
.socialsContainer #socialLink{
    color: skyblue;
}

/* --------------- MAIN --------------- */
.wrapper main {
  grid-area: main;

  gap: 0.2rem;
  display: flex;
  flex-direction: column;

  padding: 0.5rem;
}
/* --------------- FOOTER --------------- */
.wrapper footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    text-align: center; 
    padding: 0.5rem;
}

/*---------------- POSTCARD ----------------*/

.postcard{
    border: var(--Border);
}

.postcard .postcardHeader{
    border-bottom: var(--Border);
    padding: 0.3rem;
}
.postcard .postcardBody{
    padding: 0.3rem;
}

.postcard .postcardFooter{
    border-top: var(--Border);
    padding: 0.3rem;
}


.recentPosts{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*---------------- THEME TOGGLE ----------------*/
.themeToggle{
    border: var(--LightBorder);
    padding: 0.5rem;
    border-radius: 1rem;
}

.fa-sun { 
    color: var(--DarkNeutral); }
.fa-moon { 
    color: transparent; 
}

.dark .fa-sun { color: transparent; }
.dark .fa-moon { color: var(--LightNeutral); }


/*---------------- SIDEBAR/TOGGLE BUTTON ----------------*/
.sidebar{
    display: none;
}
#sidebar-active{
   display: none; 
}
.burgerButton,
.closeButton{
    display: none;
}
@media (max-width: 600px){
    .wrapper{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .wrapper aside{
        display: none;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--LightNeutral);
        height: 100vh;
        width: 100vw;
        z-index: 10;
        flex-direction: column;
        transition: .5s ease-in-out;
        display: flex;
    }
    .sidebarHeader,
    .utils{
        background-color: var(--LightNeutral);
        border-bottom: var(--Border);
        padding: .5rem;
    }

    .sidebarBody{
        padding: 1rem;
    }
    .burgerButton,
    .closeButton{
        display:flex;
    }

    .burger,
    .close{
        font-size: 2.5vh;

    }

    #sidebar-active:checked ~ .sidebar{
        left: 0;
    }

}