@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Double+Pica:ital@0;1&display=swap');

:root{
    --BodyFont: "IM Fell DW Pica", serif;
    --HeaderFont: "IM Fell DW Pica SC", serif;



}





/* Theme Icon */

  #themeToggle {
    border: 0;
    background: none;
  }


  .sun { fill: var(--1000); }
  .moon { fill: transparent; }

.dark .sun { fill: transparent; }
 .dark .moon { fill: var(--100); }