---
import BaseLayout from "../layouts/BaseLayout.astro"
const  pageBackground = "solid"
---
<BaseLayout>

    <h3>My name is Rachel. I'm a 21 year old 
        Christian culinary student, but I 
        also do a bit of programming, writing, photography
    and a handful of other things. I wanted to create a space
for myself where I could post about my interests. An archive of sorts.
So Rachel's Archive was born.</h3>
<p>This has been a very long project and, to be fair, I think will be
    a project for as long as I'm able to acess the internet.
</p>
<h2>So why make a blog?</h2>
<p>Well, I grew up in the 2000s and blogging was a big deal. Or at least
    it seemed like that to 10 year old me in 2014. I wasn't reading any blogs, given
    my sheltered upbringing, but me and my mother did create a blog for our holidays 
    that now is lost to the internet. But in the last few years I've been wishing
    to make a blog again, as I said above, create a space for myself on the internet.
    So I attempted to do so with blogging plataforms, and I tried all of them: Wix, Substack,
    Tumblr, Medium, WordPress. But I didn't like any. Some were hard to nagivate for me,
    while I felt like the others offered no custumisation. 
</p>
<p>So I decided to make my own. Which sounded like a great idea. Until I started 
    researching and realised just how much goes into web development. 
    Over the last 3 years, I've been slowly (very, very slowly) learning, building,
    deleting, building again this website. And to be honest, I'm nowhere near done.
    I still want to costumise it more, but as was creating it, I constantly ran into the oppossite
    my previous issue: too much costumisation. Now I didn't know what I wanted it to look like.
</p>
</BaseLayout>