---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Rachel Costeira";
const  pageBackground = "solid"
---
<BaseLayout pageBackground={pageBackground} pageTitle={pageTitle}>
<h1>Hello, I'm Rachel!</h1>
<p>I'm a Christian culinary student living in the UK. I like  one too many things so this blog is a collection of all my passions.</p>


</BaseLayout>
