---
interface Props {
  title: string;
  url: string;
  date: string | Date;
  description?: string;
  tags?: string[];
}

const { title, url, date } = Astro.props
import { formatDate } from  "../js/utils.js"

---

<li class="cookingNotes">
  <div class="noteDate"><p>{formatDate(date)}</p></div>
  <div class="noteTitle">  <a href={url}>  <p>{title}</p></a></div>
</li>
