---
import Navigation from '../components/Navigation.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
import BurgerIcon from './BurgerIcon.astro';
---
<header>
  <a class="title" href="/">Rachel's Archive</a>
  <Navigation />
  <ThemeIcon />
 <BurgerIcon />
</header>