---
import { navLinks } from "../data/data.ts"
---
<ul class="navLinks">
    {navLinks.map((site) => (
      <li class="navLink">
        <a href={site.url} >
          {site.name}
        </a>
      </li>
    ))}
</ul>

<style>
  .navLink{
    text-decoration: none;
  }
</style>