---
import Navigation from "../components/Navigation.astro"
import Tags from "../components/Tags.astro"
---
    <div class="sidebar">
		<label for="sidebar-active" class="closeButton">
        	<i class="fa-solid fa-xmark close"></i>
    	</label>
		<Navigation />
		<Tags />
		
	</div>