---
import { socials } from "../data/data.ts"
---
<div class="asideContainer socialsContainer">
    <h2 class="asideHeader socialsHeader">Socials</h2>
    <ul class="asideBody socialsLinks">
      {socials.map((site) => (
        <li class="socialLink">
          <a id="socialLink" href={site.url} >
            {site.name}
          </a>
        </li>
      ))}
    </ul>
</div>