<ul class="socials">
    <li><a href="instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="goodreads.com"><i class="fa-brands fa-goodreads-g"></i></a></li>
    <li><a href="pinterest.com"><i class="fa-brands fa-pinterest"></i></a></li>
</ul>